.ui.card.book-card {
    height: 360px;
    padding: 8px;
}

.ui.card.book-card.with-desc {
    height: 460px;
    padding: 8px;
}

.my-shelf .ui.card.book-card {
    height: 480px;
    padding: 8px;
}

.ui.card.book-card .image img {
    height: 160px;
    padding: 4px;
}

.ui.card.book-card .swap-picked {
    background-color: #8E70CD;
}

.ui.card.book-card .swap-picked .meta {
    color: #fff;
}
