<div>
    ID: <%= user.id %>
</div>
<div>
    Display Name: <%= user.username %>
</div>
<div>
    Created at: <%= user.created %>
</div>
<div>
    Full Name: <%= user.fullName %>
</div>
<div>
    <a href="/">Home</a>
</div>
