.grid-books {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-book {
  cursor: pointer;
  width: 400px;
  min-height: 100px;
  text-align: center;
  background-color: #001c00;
  border: 1px solid #b0a9ac;
  color: #fff;
}

.book-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.book-container .info {
  flex: 2;
  padding: 18px;
  height: 140px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-container .info .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.book-container .info .author {
  font-size: 1.6rem;
}
.book-container .info-lower {
  font-size: 1.4rem;
}

.book-container .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-container .image img {
  width: 50px;
  /* width: fit-content; */
}







.grid-book .book-options {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.grid-book .book-options .book-func {
  flex: 1;
}

.grid-book .book-options .book-func button {
  background-color: inherit;
}

  