.grid-book {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.morning-fade {
  background: #fff;
  background: linear-gradient(163deg,#270530 10%,#196d82 36%,#fff 70%);
}

.grid-book .book-frame {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.grid-book .book-img {
  width: fit-content;
  flex: 5;
}

.grid-book .book-desc {
  flex: 1;
  font-size: 1.6rem;
  padding: 6px;
}

.grid-book .book-options {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.grid-book .book-options .book-func {
  flex: 1;
}

.grid-book .book-options .book-func button {
  background-color: inherit;
}

  