/* Set a style for all buttons */
#open-modal {
    background-color:  #EE5622;
    color:  #221E22;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#open-modal:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-container {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.close-container {
  flex: 1;
}
/* The Close Button (x) */
.close-modal {
  margin-left: 14px;
  color: #000;
  font-size: 35px;
}
.close-modal:hover,
.close-modal:focus {
  color: red;
  cursor: pointer;
}

/* Center the image and position the close button */
.image-container {
  flex: 4;
  text-align: center;
  margin: 24px 0 12px 0;
}
.image-container .avatar {
  width: 60px;
  border-radius: 50%;
}

.login-container {
  flex: 4;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.login-container .auth-provider {
  flex: 1;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  padding: 0 21px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 14px;
  box-sizing: border-box;
  border: 1px solid #d6d9dc;
}

.google-login {
  border-color: #d6d9dc;
}
.google-login .txt {
  color: #535a60;
}
.facebook-login {
  background-color: #395697;
  border-color: transparent
}
.facebook-login .txt {
  color: #FFF;
}
.svg-icon {
  vertical-align: middle;
  padding-bottom: 4px;
}

/* Zoom Animation */
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}