@import url('https://fonts.googleapis.com/css?family=Roboto');

/* color Scheme:
  Pineapple: #44355B
  Dark Purple: #31263E
  Raisin Black: #221E22
  Buff: #F4CF8B
  Flame: #EE5622
 */

 html {
  font-size: 62.5%;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
  /* direction: rtl; */
}

a {
  text-decoration: none !important;
  color: #EE5622 !important;
}

.pineapple {
  color: #44355B
}
.dark-purple {
  color: #31263E;
}
.raisin-black {
  color: #221E22;
}
.buff {
  color: #F4CF8B;
}
.flame {
  color: #EE5622;
}

.bg-pineapple {
  background-color: #44355B
}
.bg-dark-purple {
  background-color: #31263E;
}
.bg-raisin-black {
  background-color: #221E22;
}
.bg-buff {
  background-color: #F4CF8B;
}
.bg-flame {
  background-color: #EE5622;
}

  
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 2rem;
  /* font-size: 1.6rem; */
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color:black;
}

.bold {
  font-weight: bold;
}

#main-content-container {
  min-height: 300px;
}

.view-container {
  display: flex;
  flex-direction: column;
}

.view-upper {
  background: linear-gradient(163deg, rgb(11, 18, 16) 0%, rgba(1, 1, 200, 0.73) 80%);
  padding: 30px 0px 30px 0px;
  overflow: hidden;
}
#view-upper-container {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.view-inner-container {
  width: 80%;
  max-width: 80vw;
  margin: 0px auto;
  padding: 0px;
}

.view-upper-title {
  color: white;
  font-size: 2rem;
}

.view-upper-sep {
  flex: 1;
}

.view-upper-subtitle {
  color: #F4CF88;
  font-size: 1.6rem;
}

.view-control {
  background: linear-gradient(0deg, rgb(25, 38, 25) 0%, rgb(51, 24, 244) 100%);
}
#view-control-container {
  display: flex;
  flex-direction: row;
  height: 12vh;
  font-size: 1.6rem;
}
.search-books {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
.search-books * {
  padding: 8px;
}

.view-data {
  background: linear-gradient(0deg, rgb(200, 200, 200) 0%, rgb(255, 240, 244) 100%);
}
#view-data-container {
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

#swipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.round-frame {
  border: 1px solid #44355B;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#main-container {
  /* width: 70%; */
  /* max-width: 1000px; */
  margin: 0px auto;
  padding: 0px 10x;
  min-height: 60vh;
  /* max-height: 2000px; */
}

.main-intro {
  height: 25vh;
  width: 100%;
  box-shadow: rgba(35, 4, 35, 0.1) 0px 3.7px 23.53px;
}

.main-recent-books {

}
