@import url('https://fonts.googleapis.com/css?family=Roboto');

/* color Scheme:
  Pineapple: #44355B
  Dark Purple: #31263E
  Raisin Black: #221E22
  Buff: #F4CF8B
  Flame: #EE5622
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: #EE5622;
}

header {
  height: 100px;
  padding-top: 20px;
}

nav {
  height: 100px;
}

.pineapple {
  color: #44355B
}
.dark-purple {
  color: #31263E;
}
.raisin-black {
  color: #221E22;
}
.buff {
  color: #F4CF8B;
}
.flame {
  color: #EE5622;
}

.bg-pineapple {
  background-color: #44355B
}
.bg-dark-purple {
  background-color: #31263E;
}
.bg-raisin-black {
  background-color: #221E22;
}
.bg-buff {
  background-color: #F4CF8B;
}
.bg-flame {
  background-color: #EE5622;
}

  
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color:black;
}

.bold {
  font-weight: bold;
}

#main-content-container {
  min-height: 300px;
}

#goodreads-query {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.grid-books {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

#swipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.round-frame {
  border: 1px solid #44355B;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}