.search-results .book-card-img {
    height: 220px !important;
    padding: 6px;
}

.my-shelf .book-card-img {
    height: 270px !important;
    padding: 6px;
}

.matches .book-card .image {
    width: 150px;
    height: auto;
}

.matches .book-card .image img {
    height: 180px !important;
    padding: 6px;
}

.front-page .book-card .image img {
    /* height: 120px !important; */
    padding: 6px;
}

.book-card-title-author {
    min-height: 180px !important;
}